@font-face {
    font-family: 'kronk';
    src: url('fonts/kronk.eot');
    src: url('fonts/kronk.eot?#iefix') format('embedded-opentype'),
         url('fonts/kronk.woff2') format('woff2'),
         url('fonts/kronk.woff') format('woff'),
         url('fonts/kronk.ttf') format('truetype');
}

body {
    font-family: 'kronk', 'Yu Gothic', sans-serif;
    background: url('https://i.imgur.com/fzHdrEl.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-size: 9pt;
}

a {
    transition: ease-in-out 0.1s;
}

#logo {
    background: url('https://i.imgur.com/q4gi880.png') no-repeat center center;
    height: 64px;
    min-width: 306px;
    width: 306px;
    max-width: 306px;
    background-size: contain;
    margin: 0 auto;
    overflow: hidden;
    margin-right: 1.25%;
    margin-left: 2.5%;
}

#header {
    background: rgb(41, 45, 48);
}

.colhead,
.forum_post .colhead_dark {
    background-image: url('https://i.imgur.com/D1tputq.png');
    background-size: cover;
    background-color: rgb(3, 64, 104);
}

.forum_index_redone .colhead {
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 50%, 98% 0);
}

.forum_index_redone .forum_index_category:nth-child(even):hover,
.forum_index_redone .forum_index_category:nth-child(odd):hover {
    background-color: rgb(51, 55, 58);
    transition: ease-in-out 0.1s;
}

.forum_post .staff_post {
    background-image: url('https://i.imgur.com/5XTHI74.png');
    background-size: cover;
    background-color: rgb(33, 154, 184);
}

#menu #menu-seperator ul li a,
.edit_form table {
    background: rgb(41, 45, 48);
}

#menu #menu-seperator ul li a:hover,
blockquote {
    background: rgb(51, 55, 58);
}

.forum_index_redone .forum_index_category:nth-child(even) {
    background: rgb(41, 45, 48);
}

.forum_index_redone .forum_index_category:nth-child(odd) {
    /*  background: rgb(51, 55, 58);  -- FOR STRIPED ROWS -- */
    background: rgb(41, 45, 48);
}

.box,
.box2,
.bbcode_bar {
    background: rgb(41, 45, 48);
}

#searchbars input,
input,
textarea,
select {
    font-family: 'ITC Avant Garde Gothic Std Light', 'Yu Gothic';
    background: rgb(51, 55, 58);
    border: 1px solid #40464a;
}

.forum_index_redone .forum_index_category .forum_index_category_last_post:after,
.forum_index_redone .forum_index_category:nth-child(odd) .forum_index_category_last_post:after {
    background: none;
}

button,
input[type=button],
input[type=submit] {
    background: rgb(3, 64, 104);
}

button:hover,
input[type=button]:hover,
input[type=submit]:hover {
    background: rgb(13, 84, 124);
}